<p id="start">Not too long ago, in a galaxy right outside...</p>
<h1>COMPUTER WARS</h1>
<div id="intro">
	<div id="intro-content">

		<p class="center">
			Episode MMXVII<br>
			Computers For Kids
		</p>

		<p>It is a time of conflict.</p>
		<p>A group of unlikely heroes have band together on a mission to provide critical training tools to students.</p>
		<p>In an effort to prevent the training of future leaders, the resistance is sending mercenaries to intercept shipments of computers.</p>
		<p>As a volunteer, your job is to protect the shipping caravan from attack.</p>
		<p>In doing so, you will become part of something greater than yourself...</p>

	</div>
</div>