<div class="container-fluid">
	<div class="row row1-bg">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h1 class="text-center">Join us for Star Wars Cosplay</h1>
			<h4>Lucas ipsum dolor sit amet ackbar md-5 illum ackbar bajic amedda joelle dunwell tarkin ki-adi-mundi. Antonio jamillia
				ev-9d9 nosaurian ansion dak arkanis bertroff p'w'eck. Jinn solo even ig-88 lars neimoidian lyn coruscant grizmallt. Colton
				antilles coruscant terrik fett.</h4>
		</div>
	</div>
	<div class="row row2-bg">
		<div class="col-xs-12 col-md-10 col-md-offset-1 text-center" id="row2-fg">
			<h4 class="text-signup">Blah blah blah here is the form to <button class="btn btn-warning" id="sign-up"><strong>Sign Up</strong></button> to be
				one of your favorite Star Wars character during the event. </h4>
			<audio id="door-sound" src="sfx/spacedoorsfx.mp3"></audio>
		</div>
	</div>
	<div class="row" id="slide-bg">
		<div class="col-md-10 col-md-offset-1">
			<div id="div-slide">
				<form class="form-horizontal">
					<fieldset>

						<!-- Form Name -->
						<h1 class="text-center" style="color: #fff" id="part-info">Participant Information</h1>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="nameinput">Name</label>
							<div class="col-md-4">
								<input id="nameinput" name="nameinput" type="text" placeholder="Enter Name" class="form-control input-md" required="">

							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="phoneinput">Phone</label>
							<div class="col-md-4">
								<input id="phoneinput" name="phoneinput" type="text" placeholder="Enter Phone" class="form-control input-md">

							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="emailinput">Email</label>
							<div class="col-md-4">
								<input id="emailinput" name="emailinput" type="text" placeholder="Enter Email" class="form-control input-md" required="">

							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">Text Input</label>
							<div class="col-md-4">
								<input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">

							</div>
						</div>

						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="btn-submit"></label>
							<div class="col-md-4">
								<button id="btn-submit" name="btn-submit" class="btn btn-warning">Submit</button>
							</div>
						</div>

					</fieldset>
				</form>

			</div>
		</div>
	</div>
	<div class="row" id="test">
		<div class="col-md-12">
			<div id="time-slot">
				<h3>Cool time slot schedule.</h3>
			</div>
		</div>
	</div>
</div>