@font-face {
  font-family: 'sf_distant_galaxyregular';
  src: url('/assets/fonts/sf_distant_galaxy-webfont.eot');
  src: url('/assets/fonts/sf_distant_galaxy-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/sf_distant_galaxy-webfont.woff2') format('woff2'),
       url('/assets/fonts/sf_distant_galaxy-webfont.woff') format('woff'),
       url('/assets/fonts/sf_distant_galaxy-webfont.ttf') format('truetype'),
       url('/assets/fonts/sf_distant_galaxy-webfont.svg#sf_distant_galaxyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'sf_distant_galaxyregular';
  background: url('/assets/game/background.png');
  background-size: cover;
  overflow: hidden;
}

.container-story {
  perspective: 300px;
}

.container-story canvas {
  height: 1500px;
  transform-origin: 50% 100%;
  transform: rotateX(25deg); 
}
/*Start Cosplay page CSS*/
#cosplayBg {
    background-color: #000;
}
.row1-bg {
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.row1-bg h1 {
    font-family: 'sf_distant_galaxyregular', sans-serif;
    text-shadow: 0px 0px 20px rgba(224, 24, 13, 1);
    color: #fff;
}

.row1-bg h4 {
    color: #fff;
}

#row2-fg {
    background-color: rgba(255,255,255,0.75);
    border: solid #fff 3px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 37px 16px rgba(47,103,248,0.75);
-moz-box-shadow: 0px 0px 37px 16px rgba(47,103,248,0.75);
box-shadow: 0px 0px 37px 16px rgba(47,103,248,0.75);
}
.row2-bg {
    /*background: #000;*/
    padding-top: 50px;
    padding-bottom: 30px;
    color: #000;
    
}

.hello {
    color: #000;
}

#div-slide {
    background-color: rgba(74, 80, 89,0.75);
    display: none;
    margin: 40px 50px 50px 50px;
    
    border: solid #fff 3px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 37px 16px rgba(224, 24, 13,0.75);
-moz-box-shadow: 0px 0px 37px 16px rgba(224, 24, 13,0.75);
box-shadow: 0px 0px 37px 16px rgba(224, 24, 13,0.75);

}

#slide-bg {
    /*background-color: #000;*/
}

#clickme {
    color: #000;
}

#part-info {
    padding-bottom: 10px;
}

#time-slot {
     
    background-size: cover;
    width: 100%;
    height: 350px;
    
}

#test {
    background-color: rgba(65, 86, 96,0.75); 
    background-size: cover;
    margin: 50px;
    border: solid gray 3px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 37px 16px rgba(47,103,248,0.75);
-moz-box-shadow: 0px 0px 37px 16px rgba(47,103,248,0.75);
box-shadow: 0px 0px 37px 16px rgba(47,103,248,0.75);
}

#schedPanel {
    color: #000;
    margin: 10px;
}

.panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'sf_distant_galaxyregular';
}

.panel-heading h3 {
    margin-top: 10px;
}

tr {
   line-height: 50px;
   min-height: 50px;
   height: 50px;
}
/*End Cosplay page CSS*/

.counter {
  margin: auto;
  min-width: 740px;
  padding-top: 150px;
  width: 740px;
}

.counter .text-center {
    color: #FF6;
    font-size: 24px;
    margin-bottom: 50px;
}

.CircleProgress {
  margin: 10px;
}
.CircleProgressFg {
  fill: none;
}
.CircleProgressBg {
  fill: #2719C7;
  fill-opacity: 0.25;
  stroke: #000;
}
.CircleProgressFg {
  transition: stroke-dashoffset 0.5s ease-in-out;
  stroke: #2719C7;
}
.CircleCaptionText {
  font-size: 25px;
  fill: #2719C7;
  transform: translate(0 50%);
}
.CircleProgressText {
  font-size: 25px;
  fill: #FF6;
  transform: translate(0 50%);
}
